$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-home3: "\e902";
$icon-address-book: "\e944";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-compass2: "\e94a";
$icon-map: "\e94b";
$icon-map2: "\e94c";
$icon-calendar: "\e953";
$icon-bubble: "\e96b";
$icon-bubbles: "\e96c";
$icon-bubbles2: "\e96d";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-cross: "\ea0f";

