
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #eaeaea;
  overflow: auto;
  margin: -50px 0 0 0;
  padding: 0;

/*  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBE7DE), color-stop(1, #CBC7B7));
*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1.title {
  padding: 7px 20px 10px;
  margin: 0 0 20px 0;
  background: #333;
  color: #FFF;
  width: 100%;
  font-size: 1.4em;
}

tr {
    border: solid 1px black;

}
}
ul {
  letter-spacing: -4px;
}
ul li {
  letter-spacing: normal;

}

.lists {
    border-right: 3px solid #1abc9c;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 100%;
    float: left;
}
.lists ul.list li.message h1.name {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #8b8b8b;
  margin: 0px;
  padding: 12px;
  border-top: 1px solid #8b8b8b;
  border-bottom: 0 solid #8b8b8b;

}

ul.messages {
  padding: 20px;
  margin: 0 0 10px 0;
  width: 70%;
  float: right;
  height: 400px;
  overflow: auto;

}
ul.messages li.message {
  display: block;
  overflow: hidden;
  margin: 0 0 10px 0;
}
ul.messages li.message img.user {
  height: auto;
  width: 70px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 20px 0;
}
ul.messages li.message h1.name {
  display: block;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #8b8b8b;
  margin: 0 0 5px 0;
  text-align: right;
}
ul.messages li.message p.text {
  display: block;
  background-color: rgba(221, 246, 255, 1);
  padding: 10px 20px;
  margin: 0 0 0 35px;
  line-height: 1.4em;
  border-radius: 0px 4px 4px 4px;
}
ul.messages li.message p.text:hover {
  background-color: rgba(221, 246, 255, 1);
}
ul.messages li.message:nth-of-type(2n) h1.name {
  text-align: left;
}
ul.messages li.message:nth-of-type(2n) img.user {
  float: right;
  margin: 0 0 10px 10px;
}
ul.messages li.message:nth-of-type(2n) p.text {
  background-color: rgba(221, 255, 235, 1);
  margin: 0 35px 0 0;
  border-radius: 4px 0 4px 4px;
}
ul.messages li.message:nth-of-type(2n) p.text:hover {
  background-color: rgba(221, 255, 235, 1);

}

textarea.message {
  bottom: 25px;
  right: 0;
  width: 70%;
  border: 0;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 100px;
  -webkit-appearance: none;
  outline: 0;
  border-top: 3px solid #1abc9c;
  background: rgba(255, 255, 255, 1);
  float: right;
  position: fixed;


}
textarea.message:focus {
  background: white;
}
textarea.message.required {
  background: #ffdddd;

}

div.actions {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 25px;
  background: #FFF;
  width: 70%;
}
div.actions button {
  float: right;
  width: 100%;
  height: 30px;
  font-size: 1.1em;
  background: #3e3e3e;
  color: #FFF;
  border: 0;
  padding: 5px 12px;
  -webkit-appearance: none;
  outline: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  cursor: pointer;
}
div.actions button:hover {
  background: #252525;

}


